.model_help {
    height: 20px;
    margin-top: 3px;
    padding: 0;
    width: 24px;
    cursor: pointer;
    display: block;
    background: url(/web/static/src/img/icons/gtk-help.png) no-repeat center center;
    float: left;
}